aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
av==17.0.1
blinker==1.9.0
CacheControl==0.14.4
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==48.0.0
ctranslate2==4.7.2
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
faster-whisper==1.1.1
filelock==3.29.0
firebase-admin==6.2.0
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.4.0
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.51.0
google-auth-httplib2==0.4.0
google-cloud-core==2.6.0
google-cloud-firestore==2.27.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.80.0
gunicorn==22.0.0
h11==0.16.0
hf-xet==1.5.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface_hub==1.16.0
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.1
numpy==2.4.6
onnxruntime==1.26.0
openai==0.27.8
packaging==26.2
propcache==0.4.1
proto-plus==1.28.0
protobuf==6.33.6
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
pypdf==6.13.2
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.3
requests==2.33.1
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
sqlparse==0.5.5
tokenizers==0.23.1
tqdm==4.67.3
typer==0.25.1
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.6.3
Werkzeug==2.3.7
yarl==1.23.0
